[Unit]
Description=Wooptima DB Tuner MariaDB metrics collection tick
After=mariadb.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dbtune _tick
